// Import variables
@import "variables";

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Import aos css
@import "aos/dist/aos";

html{
    scroll-behavior: smooth;
}

body{
    margin-top: $nav-mobile-height;

    @media (min-width: 1024px){
        margin-top: $nav-height;
    }
}

#app{
    transition: all 500ms ease-in-out;
}

// Custom styles
#custom-nav{
    height: $nav-height;

    display: none;

    @media (min-width: 1024px){
        display: block;
    }

    .navbar-brand{

        width: 210px;
        @media (min-width: 768px){
            width: 249px;
        }
        img{
            width: 100%;
        }
    }

    .navbar-collapse{
        justify-content: flex-end;
        align-self: flex-end;
    }
    .navbar-nav{

        // add space between nav items but not after the last one
        .nav-item{
            margin-right: 2rem;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

#mobile-custom-nav{
    height: $nav-mobile-height;

    display: block;

    .menu-icon{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 28px;

        span{
            display: block;
            width: 100%;
            height: 3px;
            background-color: #000000;
            transition: all 0.3s ease-in-out;
            border-radius: 0.50rem;
        }
    }

    .menu{
        position: absolute;
        // left: -100%;
        left: -100%;
        top: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 999;
        padding: 0.65rem 1rem;

        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                // remove underline from links
                padding: 0.24rem 0;
            }
        }
    }

    &.open{
        .menu-icon{
            span{
                &:nth-child(2){
                    width: 70%;
                }
                &:nth-child(3){
                    width: 50%;
                }
            }
        }

        .menu{
            left: 0;
            -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }

    @media (min-width: 1024px){
        display: none;
    }
}

#carouselHome{
    .carousel-caption{
        position: absolute;
        height: fit-content;
        right: 0;
        top: 50%;
        left: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: unset;
        text-align: center;
        // Center content

        @media (min-width: 768px){
            bottom: 50%;
            transform: translateY(-50%);
            text-align: left;
        }
    }

    .carousel-item .banner-image{
        width: 100%;
        // aspect-ratio: 1/1;
        // object-fit: cover;
        height: auto;
        @media (min-width: 768px){
            aspect-ratio: unset;
        }
    }

    .text-banner > *{
        text-shadow: 7px 1px 9px rgba(0, 0, 0, 0.2);
        font-size: 3rem;
        line-height: 1;

        @media (min-width: 768px){
            font-size: 4rem;
            line-height: 1;
        }
        @media (min-width: 1200px){
            font-size: 6rem;
            line-height: 1;
        }
    }

    .carousel-control-prev,
    .carousel-control-next{
        width: 15%;
        @media (min-width: 768px){
            width: 5%;
        }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        background-size: contain;
    }

    .carousel-control-next-icon{
        // rotate the next icon
        transform: rotate(180deg);
    }
}

.title {
    margin-bottom: 25px;
    *{
        position: relative;
        &::after{
            content: "";
            display: inline-block;
            width: 30%;
            height: 4px;
            background-color: $blue-light;
            position: absolute;
            bottom: -18px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.under-green{
        *{
            &::after{
                background-color: $green-light;
            }
        }
    }
}

#services{
    padding: 2rem 0;
    @media (min-width: 768px){
        padding: 4rem 0;
    }
}

#what-we-do,
#placeholder,
#how-we-do-it,
#diagram,
#our-approach,
#our-team,
#contact{
    padding: 2rem 0;

    @media (min-width: 1024px){
        padding: 4rem 0;
    }

    @media (min-width: 1200px){
        padding: 8rem 0;
    }
}

#how-we-do-it, #our-team{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;

    // parallax effect
    background-attachment: fixed;
}

.spacer{
    height: 70px;
    @media (min-width: 768px){
        height: 100px;
    }
}

.card-whatyouget{
    --bs-bg-opacity: 0.8;
    background-color: rgba(var(--bs-blue-light-2-rgb), var(--bs-bg-opacity)) !important;
    padding: 2rem;
    border-radius: 1rem;
    border-left: 1rem solid rgba(var(--bs-green-light-rgb), 1);
    transition: all 0.3s ease-in-out;
    color: white;
    height: auto;
    &:hover{
        transform: scale(1.05);
    }

    @media (min-width: 768px){
        height: 200px;
    }
}

.card-whatwedo{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
    // grow to fill the remaining space
    display: flex;
    flex-direction: column;
    height: 100%;
    .card-header{
        //
    }

    .card-footer{
        // Fill flex remaining space
        flex: 1;
        min-height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        padding: 1rem;

        @media (min-width: 768px){
            min-height: 200px;
            padding: 2rem;
        }
    }
}

#our-team{
    .splide__pagination{
        @media (max-width: 768px){
            bottom: -1.5em;
        }
    }
}

.card-team{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    .team-image{
        max-width: 80%;
        width: 100%;

        @media (min-width: 768px){
            max-width: 60%;
        }

    }
    .team-social-icon{
        img{
            border-radius: 0.9rem;
        }
    }

    @media (min-width: 768px){
        max-width: 300px;
    }

    @media (min-width: 1200px){
        max-width: 480px;
    }
}

.form-control{
    &.custom-form{
        border-radius: .75rem;
        padding: 0.8rem 1rem;
        border: 1px solid rgba(var(--bs-blue-light-rgb), 0.5);
        transition: all 0.3s ease-in-out;
        &:focus{
            border-color: rgba(var(--bs-green-light-rgb), 1);
            box-shadow: 0 0 0 0.25rem rgba(var(--bs-green-light-rgb), 0.25);
        }

        &.is-invalid{
            border-color: rgba(var(--bs-danger-rgb), 0.5);
            box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
        }

        &::placeholder{
            color: black;
        }
    }
}

.editor-body{
    p{
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        text-align: inherit;
    }
}

button{
    align-items: center;
    .custom-icon{
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 0.5rem;
        background-size: contain;
        background-position: center;
        display: inline-block;
        transform: rotate(180deg);
    }

}

#whatsapp-icon{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    // hover effect/ translate to top & scale
    &:hover{
        transform: translateY(-0.5rem) scale(1.1);
    }

    @media (min-width: 768px){
        bottom: 2rem;
        right: 2rem;
    }

    img{
        width: 50px;
        height: 50px;
    }
}
